html
{
    font-family: 'Arimo', sans-serif;
}

h2
{
    text-align: center;
    font-size: 3em;
    color: #0B0B61;
    text-shadow: 0 0 10px #848484;
}

table
{
    margin-left: 1%;
    width: 98%;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
}

tr:nth-child(even):not(:hover) td::after
{
    content: '';
    background-color:  #CEE3F6;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

tr:nth-child(odd):not(:hover) td::after
{
    content: '';
    background-color: #EFF5FB;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

th
{
    position: relative;
    padding: 20px 5px;
    background: #CEE3F6;
}

tr:hover
{
    box-shadow: 0 0 10px #EFFBFB;
    background-color: #FFC896;
}

td
{
    position: relative;
    text-align: center;
}

td:first-child
{
    padding-right: 30px;
}

input
{
    padding: 5px 10px;
    margin: 1%;
}

input[type='email']:valid + input[type='tel']:valid + button
{
    display: inline;
}

button
{
    display: none;
}

td:hover::after,
th:hover::after
{
 content: "";
 position: absolute;
 background: #FFC896;
 left: 0;
 top:-5000px;
 height: 10000px;
 width: 100%;
 z-index: -1;
}

img
{
    height: 40px;
}

div
{
    padding: 13% 0;
    float: right;
}

input.city[value="1"]
{
    padding-left: 50px;
}

select
{
    padding: 5px 10px;
    margin: 1%;
}

select option[value="b"]:checked ~ table tr.b
{
    display: none;
}
